/*Carosel Code*/

#myCarousel {
    padding: 0px;
}

html {
    margin-top: 10px;
}
.back{
  padding-top: 13%;
}
p{

  font-size: 18px;
}
.carousel-inner .item {
    position: relative;
    display: none;
    width: 900;
    height: 200;
}

.carousel-inner .item img {
    display: block;
    margin: auto;
}

.item {
    margin: auto;
}


/*main information about team*/

.title {
    text-align: center;
    font-weight: bold;
}

.blue {
    border: #2a377c 4px solid;
    background: white;
}

.red {
    border: #c00917 4px solid;
    background: white;
}

.row {
    padding-top: 10px;
    padding-left: 50px;
    padding-right: 50px;
}

.col-md-6 p {
    font-size: 16px;
}

.col-md-6 p a {
      font-family: 'Roboto', sans-serif;
    color: black;
}

.follow {
    width: 15%;
    height: 15%;
    padding: .5em;
}

.sponsor {
    width:33%;
    height:33%;
}

.techshop {
    width: 30%;
    height: 17%;
}

h2 {
    padding-left: 6cm;
}

.c {
    padding-left: 13%;
    padding-bottom: .5%
}

.d {
    padding-bottom: .50%;
}

.mainTitle {
    font-weight: bold;
      font-family: 'Roboto';
}

.subTitle {
    font-weight: bold;
    font-family: 'Roboto';
}
.dropdown-hover:hover .dropdown-menu{
  display:block
}
.section{
  margin-left: 5%;
  margin-right: 5%;
}
.hyperlink{
  color: blue;
}
