/*Carosel Code*/

#myCarousel {
    padding: 0px;
}

html {
    margin-top: 10px;
}

.carousel-inner .item {
    position: relative;
    display: none;
    width: 900;
    height: 200;
}

.carousel-inner .item img {
    display: block;
    margin: auto;
}

.item {
    margin: auto;
}


/*main information about team*/

.title {
    text-align: center;
    font-weight: bold;
}

.blue {
    border: #2a377c 4px solid;  
}

.red {
    border: #c00917 4px solid
}

.row {
    padding-top: 10px;
    padding-left: 50px;
    padding-right: 50px;
}

.col-md-6 p {
    font-size: 16px;
}

.col-md-6 p a {
    font-style: none;
    font-weight: bold;
    color: black;
}

.follow {
    width: 15%;
    height: 15%;
    padding: .5em;
}

.sponsor {
    width: 20%;
    height: 20%;
}

.techshop {
    width: 30%;
    height: 17%;
}

h2 {
    padding-left: 6cm;
}

.c {
    padding-left: 13%;
    padding-bottom: .5%
}

.d {
    padding-bottom: .5%;
}

.mainTitle {
    font-weight: bold;
}

.subTitle {
    font-weight: bold;
}

.red-top {
    border: #c00917 5px solid;
    margin: 5px;
    border-radius: 1em;
}

.blue-top {
    border: #2a377c 5px solid;
    margin: 5px;
    border-radius: 1em;
}


.dropdown-hover:hover .dropdown-menu{
  display:block
}
