.mainTitle {
    font-size: 40px;
    font-weight: bold;
}
.subTitle {
    font-weight: bold;
}
.header {
    text-align: center;
    font-weight: bold;
    font-size: 50px;
}
.subHeader {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}
.contents{
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 540px;
  color:#fff;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  position: relative;
}
.image{
align: center;
}
.border{
border-style: solid;
border-width: 4px;
border-color: white;
}
.dark{
  background:#212322;
}


.opacity {
    -webkit-filter: opacity(1.75);
    filter: opacity(1.75);
}
.blur {
    -webkit-filter: blur(3px);
    filter: blur(3px);
}
.brightness {
    -webkit-filter: brightness(.5);
    filter: brightness(.5);
}


#video-background {
/*  making the video fullscreen  */
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  top: 150px;

}
  .content{
    width: 100%;
    position: relative;
    top: 600px;
    background: #212322;
    color: white;
  }
  .fullscreen-bg {
      position: fixed;
      top: 190px;
      right: 0;
      bottom: 0;
      left: 0;
      overflow: hidden;
      z-index: -100;
      width: auto;
      height: auto;
      min-width: 100%;
      min-height: 100%;
    }
