/*There is no ROBOTS.CSS so i have to put it here... dont mind me.*/
#video-background {
/*  making the video fullscreen  */
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  top: 150px;
}
.content{
  width: 100%;
  position: relative;
  top: 1000px;
  background: #212322;
  color:#fff;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  padding-left:30px;
}

.grayscale {
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}
.opacity {
    -webkit-filter: opacity(.80);
    filter: opacity(.80);
}
.blur {
    -webkit-filter: blur(3px);
    filter: blur(3px);
}
.brightness {
    -webkit-filter: brightness(.25);
    filter: brightness(.25);
}
