/*There is no ROBOTS.CSS so i have to put it here... dont mind me.*/
.fullscreen-bg {
    position: fixed;
    top: 100px;
    left: 50px;
    width:auto;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg__video {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
.content{
  width: 100%;
  position: relative;
  top: 600px;
  background: #212322;
  color: white;
}
.content p{
  font-family:arial;
  font-size: 18px;
}
.grayscale {
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}
.opacity {
    -webkit-filter: opacity(1.75);
    filter: opacity(1.75);
}
.blur {
    -webkit-filter: blur(3px);
    filter: blur(3px);
}
.brightness {
    -webkit-filter: brightness(.25);
    filter: brightness(.25);
}
