.sponsour {
	width: 70%;
	padding: 0px;
	margin: 0px;
}

tbody {
	text-align: center;
}
table.center{
	width: 70%;
	margin-left: 15%;
	margin-right: 15%;
}
table {
	table-layout: fixed;
	width: 70%;
	margin-left: 15%;
	margin-right: 15%;
}
td {
	margin-left: auto;
	margin-right: auto;
}
.sponsour-title {
	text-align: center;
}
hr {
	margin-right: 10%;
	margin-left: 10%;
}

.content {
  padding-top: 72px;
}