@font-face {
    font-family: Jockey One;
    src: url(https://fonts.google.com/specimen/Jockey+One);
}

.title{
  text-align: center;
  color: #000;
font-family: Jockey One;
font-weight: bold;
}
.background{
  background-color:#777575 ;

}
.background1{
  background-color:#eee;
}
.picture{
  margin-left: 2cm;
}

p{
  text-align: left;
  color: #000;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
      font-size: 18px;
      line-height: 1.42857143;
  padding-left: 5cm;
  padding-right: 5cm;
}

.red
{
  border:red 4px solid;
}
.blue{
    border:blue 4px solid;
}
.b{
  margin-left: 50px;
  margin-right:50px;

}

.row{
	padding:1px;

}
.col-md-5 p{
	font-size:16px;
  font-style:none;
  font-weight:bold;
  color:black;
}
.col-md-5 p a{
	font-style:none;
	font-weight:bold;
	color:black;
}
