.body{
	padding:
}
.mainTitle{
	font-weight:bold;
	font-size: 80px;
  font-family: "Adam","Roboto",sans-serif;
}
.subTitle{
	font-weight:bold;
	font-size: 30px;
  font-family: "Adam","Roboto",sans-serif;

}
.title{
  text-align: center;
  color: #000;
font-family: Jockey One;
font-weight: bold;
}
.background{
  background-color:#000 ;
}
.background1{
  background-color:#eee;
}
.picture{
  margin-left: 2cm;
}

p{
  text-align: left;
  color: #000;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
      font-size: 18px;
      line-height: 1.42857143;
  padding-left: 11cm;
  padding-right: 5cm;
}
h1{
  text-align: left;
  color: #000;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
      font-size: 18px;
      line-height: 1.42857143;
  padding-left: 1cm;
  padding-right: 5cm;
}
h2{
  padding-left: 6cm;
}
body{
  margin-left:10cm;
}
.red
{
  border:red 4px solid;
}
.blue{
    border:blue 4px solid;
}
.b{
  margin-left: 1cm;
  margin-right: 1cm;
}

h2{
	padding-left: 6cm;
}
.c{
  padding-left: 1cm
}
