/*Carosel Code*/
#myCarousel{
	padding:0px;
}

.carousel-inner .item{
	position:relative;
	display:none;
	width:50em;
	height:30em;
}
	.carousel-inner .item img{
    display:block;
    margin:auto;
  }
.item{
	margin:auto;
}

/*main information about team*/
.info{
	padding: -5px;
}
.title{
	text-align:center;
}
.blue{
	border: blue 4px solid;
	padding:5px;
}
.red{
	border: red 4px solid;
}
.row{
	padding:5px;
}
.mainTitle{
	font-weight:bold;
}
.subTitle{
	font-weight:bold;
}
.col-md-6 p{
	font-size:16px;
}
.col-md-6 p a{
	font-style:none;
	font-weight:bold;
	color:black;
}
.follow{
	width: 15%;
	height: 15%;
	padding: .5em;
}
.sponsor{
	width: 20%;
	height:20%;
}
.techshop{
	width:30%;
	height: 17%;
}
