<header class="fixed-top" role="banner">
  <nav class="navbar">
    <a href="/"><img id="roboticsLogo" src="/assets/images/robotics_logo.svg"></a>
    <button type="button" class="navbar-toggler" onclick="toggleHeader()">&#x2630;</button>
    <div class="navbar-collapse collapsed" id="header">
      <ul class="navbar-nav" id="navigation">
        <li class="link-button"><a href="/" class="nav-link">Home</a></li>
        <li class="link-button"><a href="/sponsors" class="nav-link">Sponsors</a></li>
        <li class="link-button"><a href="/robots" class="nav-link">Robots</a></li>
        <li class="link-button"><a href="/outreach" class="nav-link">Outreach</a></li>
        <li class="link-button"><a href="/team" class="nav-link">Team</a></li>
        <li class="link-button"><a href="/summercamp" class="nav-link">Camp</a></li>
      </ul>

      <div class="button-group">
        <ul class="navbar-nav" id="socialMedia">
          <li class="nav-item social-icons">
            <a href="https://twitter.com/frc5587" target="_blank" rel="noopener" aria-label="twitter">
              <img src="/assets/images/Social-Icons/twitter.png" alt="twitter">
              <title>Twitter</title>
            </a>
          </li>
  
          <li class="nav-item social-icons">
            <a href="https://www.instagram.com/frc5587/" target="_blank" rel="noopener" aria-label="instagram">
              <img src="/assets/images/Social-Icons/instagram.png" alt="twitter">
              <title>Instagram</title>
            </a>
          </li>
  
          <li class="nav-item social-icons">
            <a href="https://www.facebook.com/frc5587/" target="_blank" rel="noopener" aria-label="facebook">
              <img src="/assets/images/Social-Icons/facebook.png" alt="facebook">
              <title>Facebook</title>
            </a>
          </li>
  
          <li class="nav-item social-icons">
            <a href="https://github.com/frc5587" target="_blank" rel="noopener" aria-label="github">
              <img src="/assets/images/Social-Icons/github.png" alt="github">
              <title>Github</title>
            </a>
          </li>
  
          <li class="nav-item social-icons">
            <a href="https://www.youtube.com/channel/UC8N-t5Xb14t3yVvV6SPiSxw/featured" target="_blank" rel="noopener"
              aria-label="youtube">
              <img src="/assets/images/Social-Icons/youtube.png" alt="youtube">
              <title>Youtube</title>
            </a>
          </li>
  
          <li class="nav-item social-icons">
            <a href="mailto:frc5587@gmail.com" target="_blank" rel="noopener" aria-label="email">
              <img src="/assets/images/Social-Icons/email.png" alt="email">
              <title>Email</title>
            </a>
          </li>
        </ul>
  
        <div class="navbar-nav btn-container" id="supportBtnContainer">
          <a id="supportBtn" class="btn btn-red" role="button" onclick="toggleModal()">Support Us</a>
        </div>
      </div>
    </div>
  </nav>

<!-- Persistent banner -->
<!-- <nav>
  <div id="banner">
    <a class="banner-blue" href="summercamp">Registration for 2022 Summer Camps are open! Register today!</a>
  </div>
</nav>  -->

</header>

<!-- Sponsorship modal -->
<div id="sponsor-modal" class="modal">
  <div id="sponsor-modal-content" class="modal-content">
    <div class="modal-header">
      <h2>Support Our Team</h2>
      <span class="close">&#xD7;</span>
    </div>

    <hr class="divider">

    <div class="modal-body">
      <div class="specifier-container clearfix">
        <div class="specifier-box">
          <h3>Are you an individual?</h3>
          <div class="btn-container">
            <a href="https://www.paypal.com/us/fundraiser/charity/2714254" target="_blank" class="btn btn-red"
              role="button">Donate with PayPal Here</a>
          </div>
        </div>
        <div class="specifier-box">
          <h3>Are you a business or corporation?</h3>
          <div class="btn-container">
            <a href="/sponsors" class="btn btn-red" role="button">Sponsor Us</a>
          </div>
        </div>
      </div>

      <div class="check-info-box">
        <div class="amazon-smile">
          <h4><span style="color:lightgrey">&#x2015;</span> and <span style="color:lightgrey">&#x2015;</span></h4>
          <h3>Support us with <a href="http://smile.amazon.com/ch/82-1619633">Amazon Smile</a></h3>
          <p class="tooltip">What is Amazon Smile?
            <span class="tooltiptext">The AmazonSmile program donates 0.5% 
              of your eligible purchases on Amazon to a charity of your choice - US! 
              All you need to do is start your shopping at smile.amazon.com. 
              The donation is made automatically at no extra cost to you. 
              Let us know if you need help signing up.</span>
          </p>
        </div>
        <div class="specifier-container clearfix">
        <div class="specifier-box">
          <h4>Our business address:</h4>
          <p>Titan Robotics Boosters, 3213 Duke Street #824, Alexandria, VA 22314</p>
        </div>
        <div class="specifier-box">
          <h4>For your tax records:</h4>
          <p>EIN# 82-1619633</p>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>

<!-- <div id="sponsor-modal" class="modal">
  <div id="sponsor-modal-content" class="modal-content" style="
      background-image: url(/assets/images/Index-Images/2022_dcmp_chairmans.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 130%;
  ">
      <span class="close" style="float: right; margin-top: 20px; margin-right: 15px;">&#xD7;</span>
      <div class="modal-header">
          <h2 style="font-size: 35px;">We're going to... <br> 2022 FIRST Championships!</h2>
      </div>

      <hr class="divider">

      <div class="modal-body">
          <div class="check-info-box">
              <div class="amazon-smile">
                  <h3>SUPPORT US ON:</h3>
              </div>
          </div>
          <div class="specifier-container clearfix">
              <div class="specifier-box">
                  <h3>GoFundMe:</h3>
                  <div class="btn-container">
                      <a href="https://gofund.me/84ae54f2" target="_blank" class="btn btn-red" role="button">
                          GoFundMe
                      </a>
                  </div>
              </div>
              <div style="
                  position: fixed;
                  width: 500px;
                  height: 200px;
                  top: 50%;
                  left: 50%;
                  margin-top: 45px;
                  margin-left: -250px
              ">
                  <h3>OR</h3>
              </div>
              <div class="specifier-box">
                  <h3>Spring2Action:</h3>
                  <div class="btn-container">
                      <a href="https://www.spring2action.org/organizations/titan-robotics" class="btn btn-red" role="button">
                          Spring2Action
                      </a>
                  </div>
              </div>

              <br><br><br>

          </div>
      </div>
  </div>
</div> -->