<header class="fixed-top" role="banner">
  <nav class="navbar">
    <a href="/"><img id="roboticsLogo" src="/assets/images/robotics_logo.svg"></a>
    <button type="button" class="navbar-toggler" onclick="toggleHeader()">&#x2630;</button>
    <div class="navbar-collapse collapsed" id="header">
      <ul class="navbar-nav" id="navigation">
        <li class="link-button"><a href="/" class="nav-link">Home</a></li>
        <li class="link-button"><a href="/sponsors" class="nav-link">Sponsors</a></li>
        <li class="link-button"><a href="/robots" class="nav-link">Robots</a></li>
        <li class="link-button"><a href="/outreach" class="nav-link">Outreach</a></li>
        <li class="link-button"><a href="/team" class="nav-link">Team</a></li>
        <li class="link-button"><a href="/virtualcamp" class="nav-link">Camp</a></li>
      </ul>

      <div class="button-group">
        <ul class="navbar-nav" id="socialMedia">
          <li class="nav-item social-icons">
            <a href="https://twitter.com/frc5587" target="_blank" rel="noopener" aria-label="twitter">
              <img src="/assets/images/Social-Icons/twitter.png" alt="twitter">
              <title>Twitter</title>
            </a>
          </li>
  
          <li class="nav-item social-icons">
            <a href="https://www.instagram.com/frc5587/" target="_blank" rel="noopener" aria-label="instagram">
              <img src="/assets/images/Social-Icons/instagram.png" alt="twitter">
              <title>Instagram</title>
            </a>
          </li>
  
          <li class="nav-item social-icons">
            <a href="https://www.facebook.com/frc5587/" target="_blank" rel="noopener" aria-label="facebook">
              <img src="/assets/images/Social-Icons/facebook.png" alt="facebook">
              <title>Facebook</title>
            </a>
          </li>
  
          <li class="nav-item social-icons">
            <a href="https://github.com/frc5587" target="_blank" rel="noopener" aria-label="github">
              <img src="/assets/images/Social-Icons/github.png" alt="github">
              <title>Github</title>
            </a>
          </li>
  
          <li class="nav-item social-icons">
            <a href="https://www.youtube.com/channel/UC8N-t5Xb14t3yVvV6SPiSxw/featured" target="_blank" rel="noopener"
              aria-label="youtube">
              <img src="/assets/images/Social-Icons/youtube.png" alt="youtube">
              <title>Youtube</title>
            </a>
          </li>
  
          <li class="nav-item social-icons">
            <a href="mailto:frc5587@gmail.com" target="_blank" rel="noopener" aria-label="email">
              <img src="/assets/images/Social-Icons/email.png" alt="email">
              <title>Email</title>
            </a>
          </li>
        </ul>
  
        <div class="navbar-nav btn-container" id="supportBtnContainer">
          <a id="supportBtn" class="btn btn-red" role="button" onclick="toggleModal()">Support Us</a>
        </div>
      </div>
    </div>
  </nav>

  <!-- <nav>
    <a class="banner" href="/spring2action">Spring2ACTion is here!</a>
  </nav> -->
</header>

<!-- Camp Banner   -->
<!-- <a href="/camps"><ul class="banner"><h6>Register for our summer camps here!</h6></ul></a> -->

<!-- Sponsorship modal -->
<div id="sponsor-modal" class="modal">
  <div class="modal-content">
    <div class="modal-header">
      <h2>Support Our Team</h2>
      <span class="close">&#xD7;</span>
    </div>

    <hr class="divider">

    <div class="modal-body">
      <div class="specifier-container clearfix">
        <div class="specifier-box">
          <h3>Are you an individual?</h3>
          <div class="btn-container">
            <a href="https://www.paypal.com/us/fundraiser/charity/2714254" target="_blank" class="btn btn-red"
              role="button">Donate with PayPal Here</a>
          </div>
        </div>
        <div class="specifier-box">
          <h3>Are you a corporate entity?</h3>
          <div class="btn-container">
            <a href="/sponsors" class="btn btn-red" role="button">Sponsor Us</a>
          </div>
        </div>
      </div>

      <div class="check-info-box">
        <div class="amazon-smile">
          <h4><span style="color:lightgrey">&#x2015;</span> and <span style="color:lightgrey">&#x2015;</span></h4>
          <h3>Support us through our <a href="http://smile.amazon.com/ch/82-1619633">Amazon Smile</a></h3>
        </div>
        <h4>Our billing address:</h4>
        <p>Titan Robotics Boosters 3213 Duke Street #824 Alexandria VA 22314</p>
        <h4>Our information for your tax records:</h4>
        <p>EIN# 82-1619633</p>
      </div>
    </div>
  </div>
</div>