<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:locale" content="en_US">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Titan Robotics - FRC 5587">
  <meta property="og:description" content="The FRC robotics team from Alexandria City High School (formerly TC Williams)">
  <meta property="og:url" content="https://frc5587.org">
  <meta property="og:image" content="/assets/media/red_tr.jpeg">
  <meta name="twitter:image" content="/assets/media/red_tr.jpeg">


  <title>Titan Robotics - FRC 5587</title>
  <meta name="description"
    content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">

  <link rel="icon" href="/assets/media/robotics_favicon.ico">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

  <!-- fancy scrollbar stuff -->
  <link type="text/css" rel="stylesheet" href="/assets/css/OverlayScrollbars.css" /> 
  <script type="text/javascript" src="/js//OverlayScrollbars.js"></script>

  <link rel="stylesheet" href="/assets/css/header.css">

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
  {% if page.stylesheets %}
  {% for stylesheet in page.stylesheets %}
  <link rel="stylesheet" href="/assets/css/{{ stylesheet }}.css">
  {% endfor %}
  {% endif %}
</head>