---
---

.blurb {
    text-align: center;
    width: 75%;
    margin: 70px auto 30px auto;
}

p {
    font-size: 1.5em;
}

.camp-featurette-image {
    width: 100% !important;
    opacity: .6;
}

.centred {
    text-align: center;
}

.photo {
    margin-bottom: 30px;
}

// Mobile layout
@media (max-width: 500px) {
    .blurb {
        width: 90%;
    }
}
