---
---
@import "shared";

.title {
    text-align: center;
    width: 75%;
    margin: 70px auto 30px auto;
}

p {
    font-size: 1.5em;
}

.image{
    width:75%; 
    padding-left: 25%; 
    -webkit-filter: brightness(75%);
}

.centred {
    text-align: center;
}

// Mobile layout
@media (max-width: 500px) {
    .title {
        width: 90%;
        font-size: 1.5em !important;
        padding-top: 5%;
    }

    .image{
        padding:5%;
        width:100%;
    }

    p{
        font-size: 1em;
        padding-left:5%;

    }
}
