---
---

.blurb {
  text-align: center;
  width: 75%;
  margin: 70px auto 30px auto;
}

p {
  font-size: 1.5em;
}

.camp-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.camp-entry {
  display: flex;
  flex-direction: column;
  justify-content: center;

  position: relative;
  text-align: center;
  width: 25rem;
  min-height: 450px;
  margin: 2%;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto 100%;
}

.camp-cover {
  margin-top: 15px;
}

.camp-brief {
  padding-left: 5%;
  padding-right: 5%;
  margin-bottom: 15px;
}

// Background images for the camps
.physics {
  background-image: url(/photos/camps/physics.JPG);
}
.mindstorms {
  background-image: url(/photos/camps/mindstorms.png);
}
.rocketry {
  background-image: url(/photos/camps/rocket.JPG);
}
.java {
  background-image: url(/photos/camps/java.jpg);
}
.product {
  background-image: url(/photos/camps/product.png);
}
.ftc {
  background-image: url(/photos/camps/ftc.jpg);
}
// Mobile layout
@media (max-width: 500px) {
  .blurb {
    width: 90%;
  }
}
