---
---

@import "shared";
@import url("https://fonts.googleapis.com/css?family=Montserrat");

header {
    width: 100%;
    z-index: 10;
    font-family: Montserrat;
}

#roboticsLogo {
    float: left;
    width: 4.5rem;
    height: 3rem;
    padding: 0;
    margin: 2px 18px 2px 10px;
}

#supportBtnContainer {
    right: 0px;
}

.navbar {
    background-color: #3a3f44;
    overflow: auto;
    padding: 8px 16px;
    width: 100%;
    align-items: center;
    box-sizing: border-box;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    transition: 1s;
    overflow: hidden;
}

.fixed-top {
    position: fixed;
    top: 0px;
}

.navbar-collapse {
    margin-left: 18px;
    font-weight: 600;
    justify-content: space-between;
    justify-items: right;

    &,
    .button-group {
        position: relative;
        display: flex;
        vertical-align: middle;
    }
}

ul.navbar-nav {
    display: inline-block;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    align-items: center;
    justify-content: left;
    overflow: auto;
    flex-wrap: nowrap;
}

.banner {
    @extend .btn;
    @extend .btn-blue-simple;
    position: relative;
    top: 5px;
    text-align: left;
    display: block;
    box-sizing: border-box;
    font-size: 120%;
    margin: auto;
    width: 99%;
    font-weight: bold;
}

.social-icons,
.link-button {
    float: left;

    a {
        color: white;
        text-decoration: none;
        font-size: 120%;
        display: flex;
        transition: 0.3s;
        opacity: 0.5;
        padding: 0 8px;

        &:hover {
            opacity: 1;
        }

        img {
            width: 50px;
            height: 50px;
            transition: 0.3s;
        }

        &.nav-link {
            padding-top: 12px;
            padding-bottom: 12px;
        }
    }
}

// --- modal stuff ---
.modal {
    // Fill all of screen, staying on the top
    z-index: 10000;
    width: 100%;
    height: 100%;

    // Stay in place and enable scroll
    position: fixed;
    overflow: auto;

    // Translucent black and fallback colour w/o alpha
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);

    // Center child
    display: none; // Set to flex later in JS
    justify-content: center;
    align-items: center;
}

.modal-content {
    border-radius: 0.4rem;
    background-color: #fefefe;
    padding: 0;
    width: 60%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation-name: animatetop;
    animation-duration: 0.4s;
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}

.modal-body {
    height: 25%;
    color: black;
}

.specifier-container {
    padding-left: 0;
    padding-right: 0;
    position: relative;
    margin-bottom: 10px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: none;
}

.check-info-box {
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    text-align: center;

    .amazon-smile {
        margin-top: 20px;
        margin-bottom: 35px;

        h3 {
            margin: 0;
        }
        h4 {
            margin-bottom: 4px;
        }
    }
}

.close {
    color: white;
    font-size: 28px;
    font-weight: bold;
    padding: 0 1em;

    &:hover,
    &:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }
}

.navbar-toggler {
    cursor: pointer;
    display: none;
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.5);
    background-color: transparent;
    height: 45px;
    width: 50px;
    border-radius: 5px;
    transition: 0.3s;
    float: right;
    margin-right: 10px;

    &:hover {
        color: white;
    }
}

@media (max-width: 1204px) {
    .social-icons {
        a {
            padding: 0 4px;

            img {
                width: 25px;
                height: 25px;
            }
        }
    }

    #socialMedia {
        width: 120px;
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media (max-width: 926px) {
    #navigation,
    #supportBtn {
        display: none;
    }

    .navbar-toggler {
        display: inline-block;
    }

    .navbar-collapse {
        float: right;
    }

    .show {
        display: block;
        width: 100%;
        margin: 0;
        overflow: auto;
        overflow: hidden;
        // transform: scaleY(0.5);
        // transition: height 1s;
        animation: expand 0.3s ease-out;

        #navigation {
            overflow: hidden;
            width: 100%;
            display: block;

            .link-button {
                width: 100%;
                display: block;
                a {
                    justify-content: center;
                }
            }
        }
        #socialMedia {
            width: 200px;
            padding: 12px;
        }
        #supportBtn {
            margin: 12px;
            display: inline-block;
        }
        .button-group {
            margin: auto;
            width: 250px;
            justify-content: center;
            flex-wrap: wrap;
        }
    }
}

@keyframes expand {
    from {
        height: 0;
    }
    to {
        height: 412px;
    }
}

@media (max-width: 650px) {
    .banner {
        text-align: center;
    }
}

@media (max-width: 405px) {
    .banner {
        font-size: 100%;
    }
}
