---
---
nav {
	border-radius: 0 !important;
    z-index: 1000 !important;
    border: none !important;
    padding-top: 1px;
    // min-height: 70px;
    height: 70px;
}

.nav-link{
    line-height: 32px;
}

.navbar-nav {
	margin-right: 0 !important;
	margin-left: 0 !important;
}
.container-fluid {
	background-color: #222222;
}

//Making the navbar sticky
.fixed{
	position:fixed;
	width: 100%;
	top: 0;
	z-index: 10;
}
//logo in the left corner
.robotics-logo{
	width: 69px;
	height: 50px;
	padding: 0;
	margin: 10px;
}

//classes for link buttons in navbar
.link-button {
	padding-top: 10px;
	padding-bottom: 10px;
    margin: 0;
    color:#999 !important;
}
.link-button a {
    font-size: 115%;
    font-weight: 500;
	width: inherit;
	height: 50px;
}
.active {
	background-color: black;
}
.link-button:hover {
	color:white !important;
}

.social-icons a img {
    width: 50px !important;
    height: auto !important;
    -webkit-transition: .3s;
    transition: .3s;
    -webkit-filter: invert(40%); /* Safari 6.0 - 9.0 */
    filter: invert(40%);
}

.social-icons a img:hover{
    -webkit-filter: invert(0%); /* Safari 6.0 - 9.0 */
    filter: invert(0%);
}
//"Donate Online Here!" button
#supportBtn {
  width: 155px;
  margin: 0;
  height: 53px;
  line-height: 41px;
  display: flex;
  align-items: center;
}

.btn-text {
  font-size: 115%;
  font-weight: bold;
  width: 100%;
}
.button-container{
    display: flex;
    align-items: center;
}
.red-btn {
  text-align: center;
  border: none;
  color: white;
  background: #c00917 !important;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.blue-btn {
  text-align: center;
  border: none;
  color: white;
  background: #2a377c !important;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.red-btn:hover {
  color: white;
  background-color: #2a377c !important;
}

.blue-btn:hover {
  color: white;
  background-color: #c00917 !important;
}

//Button for showing pages in compact view
.navbar-toggler {
    margin-right: 10px;
	height: 45px;
	width: 50px;
}

// The Modal (background)
.modal {
    display: none; // Hidden by default
    position: fixed; // Stay in place
    z-index: 15; // Sit on top
    padding-top: 100px; // Location of the box
    left: 0;
    top: 0;
    width: 100%; // Full width
    height: 100%; // Full height
    overflow: auto; // Enable scroll if needed
    background-color: rgb(0,0,0); // Fallback color
    background-color: rgba(0,0,0,0.4); // Black w/ opacity
}

// Modal Content
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 60%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
}

// Add Animation
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}


// The Close Button
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #212322;
    color: white;
}

.modal-body {
	height: 25%;
	color: black;
}
.specifier-container {
	padding-left: 0;
	padding-right: 0;
	position: relative;
	margin-bottom: 10px;

    hr {
        display: none;
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        color: lightgrey;
        background-color: lightgrey;
        height: 2px;
        border: none;
    }
}
.specifier-box {
	width: 42%;
	margin-right: 4%;
	margin-left: 4%;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
 	float: left;

	h3 {
		margin-top: 35px;
    }

    p {
        display: inline-block;
        text-align: center;
        width: 100%;
    }

	a {
		width: 175px;
		margin-top: 25px;
		margin-left: 0;
		margin-right: 0;
		margin-bottom: 35px;
		height: 45px;
		padding-top: 12.5px;
		padding-bottom: 12.5px;
	}
}

.vertical-line {
	border-left: 2px solid lightgrey;
    height: 90%;
    margin-top: 5px;
    margin-bottom: 5px;
    position: absolute;
    left: 50%;
    margin-left: -1px;
    top: 0;
    width: 0;
}
.check-info-box {
	margin-left: 10%;
	margin-right: 10%;
	width: 80%;
    text-align: center;

    .amazon-smile {
        margin-top: 20px;
        margin-bottom: 35px;

        h3 {
            margin: 0;
        }
        h4 {
            margin-bottom: 4px;
        }
    }
}

@media (max-width: 1247px) {
    // h3 set to have donate buttons at the same height
    .specifier-box h3 {
        height: 52px;
    }
}

@media(max-width: 1030px){
    .social-icons{
        display:none;
    }
    .link-button {
        text-align: center;
    }
}

@media (max-width: 825px) {

    nav {
        min-height: 70px;
        height: inherit;
    }
   
    .navbar-nav {
        float: none !important;
        margin: 7.5px -15px;
    }
    
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    .navbar-collapse.collapse.in {
        display:block !important;
        background-color: #fff !important;
    }
    // .collapsing {
    //     overflow: hidden !important;
    // }

    // Adjust the modal for the new view
    .modal {
        padding-top: 75px;
    }
    .modal-content {
    	width: 80%;
    	margin-left: 10%;
    	margin-right: 10%;
    }
	.vertical-line {
	  	display: none;
	}
	.specifier-container {
	  	flex-direction: column;
        hr {
            display: block;
        }
	}
	.specifier-box {
		width: 80%;
		margin-left: 10%;
		margin-right: 10%;
		padding-top: 0;
		padding-bottom: 0;
        h3 {
            height: inherit;
        }
	}
	.check-info-box {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
	}
}

@media (max-width: 410px) {
    .modal-header h2 {
        font-size: 25px;
    }
}

@media (max-width: 350px) {
    .modal-header h2 {
        font-size: 20px;
    }
}