---
---

nav {
    background-color: #3a3f44;
    border-radius: 0;
    border: none;
    padding-top: 1px;
    height: 70px;
}

.navbar {
    z-index: 10;
}

.nav-link {
    line-height: 32px;
}

.navbar-nav {
    margin-right: 0;
    margin-left: 0;
}

//Making the navbar sticky
.fixed {
    position: fixed;
    width: 100%;
    top: 0;
}
//logo in the left corner
.robotics-logo {
    width: 69px;
    height: 50px;
    padding: 0;
    margin: 10px;
}

// classes for link buttons in navbar
.link-button {
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
    color: #999;
    a {
        font-size: 115%;
        font-weight: 500;
        width: inherit;
        height: 50px;
    }

    &:hover {
        color: white;
    }
}

.active {
    background-color: black;
}

.social-icons a img {
    width: 50px;
    height: auto;
    transition: 0.3s;
    filter: invert(40%);
}

.social-icons a img:hover {
    filter: invert(0%);
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

//Button for showing pages in compact view
.navbar-toggler {
    margin-right: 10px;
    height: 45px;
    width: 50px;
}

// The Modal (background)
.modal {
    // Fill all of screen, staying on the top
    z-index: 10000;
    width: 100%;
    height: 100%;

    // Stay in place and enable scroll
    position: fixed;
    overflow: auto;

    // Translucent black and fallback colour w/o alpha
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);

    // Center child
    display: none; // Set to flex later in JS
    justify-content: center;
    align-items: center;
}

// Modal Content
.modal-content {
    border-radius: 0.4rem;
    background-color: #fefefe;
    padding: 0;
    width: 60%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation-name: animatetop;
    animation-duration: 0.4s;
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}

// The sponshorship modal's close button
.close {
    color: white;
    font-size: 28px;
    font-weight: bold;
    padding: 0 1em;

    &:hover, &:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }

}

.modal-header {
    background-color: #212322;
    color: white;

    // Grid for aligning the text and close button
    display: grid;
    grid-template-columns: max-content min-content;
    align-items: center;

    // Override whatever a page may set for h2
    h2 {
        padding: 0;
        margin: 0;
    }
}

.modal-body {
    height: 25%;
    color: black;
}
.specifier-container {
    padding-left: 0;
    padding-right: 0;
    position: relative;
    margin-bottom: 10px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: none;
}
.specifier-box {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;

    h3 {
        margin-top: 35px;
    }

    p {
        display: inline-block;
        text-align: center;
        width: 100%;
    }

    a {
        width: 207px;
        margin-top: 25px;
        margin-left: 25%;
        margin-right: 25%;
        margin-bottom: 35px;
        height: 45px;
        padding-top: 12.5px;
        padding-bottom: 12.5px;
    }
}

.banner {
    background-color: #2a397c;
    color: white;
    text-align: left;
    position: fixed;
    width: 100%;
    transition: 0.3s;
    padding-top: 40px;
    z-index: 9;

    &:hover {
        background-color: #3d50af;
    }
}

.vertical-line {
    border-left: 2px solid lightgrey;
    height: 90%;
    margin-top: 5px;
    margin-bottom: 5px;
    position: absolute;
    left: 50%;
    margin-left: -1px;
    top: 0;
    width: 0;
}
.check-info-box {
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    text-align: center;

    .amazon-smile {
        margin-top: 20px;
        margin-bottom: 35px;

        h3 {
            margin: 0;
        }
        h4 {
            margin-bottom: 4px;
        }
    }
}

h2 {
    padding: 1%;
}
@media (max-width: 1247px) {
    // h3 set to have donate buttons at the same height
    .specifier-box h3 {
        height: 52px;
    }
}

@media (max-width: 1030px) {
    .social-icons {
        display: none;
    }
    .link-button {
        text-align: center;
    }
}

@media (max-width: 825px) {
    nav {
        min-height: 70px;
        height: inherit;
    }

    .navbar-nav {
        float: none;
        margin: 7.5px -15px;
    }

    .navbar-nav > li {
        float: none;
    }
    .navbar-nav > li > a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    .navbar-collapse.collapse.in {
        display: block;
        background-color: #fff;
    }
    // Adjust the modal for the new view
    .modal-content {
        width: 80%;
    }
    .vertical-line {
        display: none;
    }
    .specifier-container {
        grid-template-columns: none;
        grid-template-rows: 1fr 1fr;
    }
    .specifier-box {
        width: 80%;
        h3 {
            height: inherit;
        }
    }
    .check-info-box {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }

    .modal {
        align-items: flex-start;
    }
    .modal-content {
        margin-top: 25px;
    }
    .modal-body {
        padding: 0;
    }
    .banner {
        padding-top: 55px;
    }
    .page-content {
        margin-top: 31px;
    }
}

@media (max-width: 410px) {
    .modal-header h2 {
        font-size: 25px;
    }
}

@media (max-width: 350px) {
    .modal-header h2 {
        font-size: 20px;
    }
}

h6 {
    padding-left: 25px;
}
