---
---
/*Navbar*/
nav {
  border-radius: 0 !important;
  z-index: 1000 !important;
}
/*Titan Robotics Logo in navbar*/
.navbar-brand {
  margin-top: 0;
  padding-top: 0;
}
/*Links in navbar*/
.robotics-logo{
  width: 69px;
  height: 50px;
  padding: 0;
  margin: 10px;
}
.link-button {
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0;
}
.link-button a {
  font-size: 115%;
  width: inherit;
  height: 50px;
}
.active {
  background-color: black;
}
.link-button:hover {
  background-color: black;
}
.sponsor-button {
  background: #c00917 !important;
  border: none;
  color: white;
  width: 175px;
  margin: 0;
  height: 69px;
  text-align: center;
  font-size: 110%;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition: 0.5s;
  padding-top: 25px;
}
.sponsor-button:hover {
  color: white;
  background-color: #2a377c !important;
}
/*Button for showing pages in compact view*/
.expand-button {
  margin-top: 30px;
  margin-bottom: 15px;
  padding: 12.5px;
  height: 50px;
  width: 50px;
}

/*sticky navbar*/
.fixed{
  position:fixed;
  width:100%;
  top:0;
  z-index: 10;
}

.clearfix:after {
   content: ""; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}