---
---
body{
    padding-top: 70px;
    width: 100%;
}

div#preload { display: none; }

.down{
    text-align: center;
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
}
  
.down1{
    text-align: center;
    -moz-animation: bounce 4s infinite;
    -webkit-animation: bounce 4s infinite;
    animation: bounce 4s infinite;
}
.down2{
    text-align: center;
    -moz-animation: bounce 5s infinite;
    -webkit-animation: bounce 5s infinite;
    animation: bounce 5s infinite;
}
@keyframes bounce {
0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
}
40% {
    transform: translateY(-30px);
}
60% {
    transform: translateY(-15px);
}
}

.left-text{
    width:100% !important;
    margin:auto !important;
    text-shadow: 4px 4px 8px black;
    padding:10% !important;
}

.parallax{
    /* Set a specific height */
    height: 100%; 
    padding: 5%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.btn-primary{
   background-color: #2a377c !important;
   border-color: #2a377c !important;
   -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-size: 1em !important;
  text-shadow: none;
}

.btn-primary:hover{
   background-color: #3d50af !important;
   border-color: #3d50af !important;
   text-shadow: none;
}

p{
    font-size:1.5em !important;
}

.col-lg-6{
    padding: 5% 5%;
}

.col-lg-7{
    padding:5% 4% 2%;
}

.col-lg-5{
    padding-top:5%;
}

.row{
    background-color: #353839 !important;
    margin:0 !important;
    display: flex;
    align-items: center;
}

h1 {
    font-size: 3.5rem;
}

h2 {
    font-size: 2.5rem;
}

@media(max-width:815px){
    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 2rem;
    }

    .parallax{
        background-attachment: local;
    }

    p{
        font-size:1em !important;
    }

    .left-text{
        width:100% !important;
    }

    .btn-primary{
        font-size: 1em !important;
    }
}
