---
---
$secondary-color: #353839;

//carousel stuff
.carousel {
    background-color: black;
}
.carousel-inner .item img {
    margin: 0 auto;
}

//the classes used to make responsive divs
.card {
    width: 45%;
    margin: 2.5%;
}
.card-row {
    display: flex;
}

//colored borders for divs
.blue {
    border: #2a377c 4px solid;
}
.red {
    border: #c00917 4px solid;
}

//font presets
.title {
    text-align: center;
    font-weight: bold;
}
.subTitle {
    font-weight: bold;
    font-family: 'Roboto';
}
.jumbotron {
    margin-bottom: 0;
    background-color: $secondary-color;
}

//Container for buttons
.button-container {
    text-align: center;
    margin-bottom: 10px;
}
.button-container a button {
    background-color: $secondary-color;
    color: white;
}

//sponsors' box
.sponsor-collection {
    margin-bottom: 15px;
    text-align: center;
}
.sponsor-collection a img {
    width:29%;
}
.techshop {
    width: 30%;
    height: 17%;
}

//social media icon box
.social-media-icons {
    text-align: center;
}
.social-media-icons a {
    margin-right: 5px;
    margin-left: 5px;
}


@media (max-width: 941px) {
    //social media icons become two lines
    .social-media-icons a img {
        width: 28%;
    }
}

@media (max-width: 768px) {
    //updating everything for the mobile view (navbar collapses)
    .carousel {
        margin-top: 98px;
    }
    .jumbotron {
        font-size: 30px;
    }
    .card {
        width: 80%;
        margin: 10%;
    }
    .card-row {
        display: block;
    }
}

@media (max-width: 510px) {
    //the margins for the "cards" looks large for this width
    .card {
        width: 90%;
        margin-right: 5%;
        margin-left: 5%;
    }
}