---
---
//carousel stuff
.carousel{
    background-color: #000000 !important;
}

.carousel{
    padding-bottom: 2%;
    padding-top: 6%;
}

.btn-primary{
   background-color: #2a377c !important;
   border-color: #2a377c !important;
   -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.btn-primary:hover{
    background-color: #3d50af !important;
   border-color: #3d50af !important;
}

// .carousel-control-prev{
//  background-color: white !important;
// }

// .carousel-control-next{
//  background-color: white !important;
// }

.slides{
display:block;
width:75% !important;
margin: auto !important;
-webkit-filter: brightness(40%); /* Safari 6.0 - 9.0 */
    filter: brightness(40%);
}
//override default gradient on buttons

//remove the z-index priority for indicators (covers modal)
.carousel-indicators {
    z-index: 1;
    padding-bottom:2%;
}

.text-left{
    padding: 1%;
    width:40% !important;
    text-shadow: 4px 4px 6px#000000 !important;
}

p{
    font-size:1.5em !important;
}

.row{
    background-color: #353839 !important;
    padding: 5%;;
}

@media(max-width:815px){
    p{
        font-size:1em !important;
    }
    .carousel-inner{
        padding-bottom: 5% !important;
    }
    .slides{
        padding-top:15%;
        width:100% !important;
        margin: auto !important;
        -webkit-filter: brightness(.4); /* Safari 6.0 - 9.0 */
        filter: brightness(.4);
    }

    h1{
        font-size:1.5em !important;
    }

    .carousel-caption p{
        display: none !important;
    }

    .carousel-control-prev .carousel-control-next{
        display: none !important;
    }

    .text-left{
        width:75% !important;
    }

    .btn-primary{
        font-size: 1em !important;
    }
}
