---
---
@import "shared";

body {
    padding-top: 50px;
}

.left-text {
    width: 80%;
    margin: auto;
    text-shadow: 4px 4px 8px black;
    padding: 10%;
}

.parallax {
    /* Set a specific height */
    min-height: 100%;
    padding: 5%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.col-lg-6 {
    width: 50%;
    padding: 5%;
}

.row {
    margin: 0;
    display: flex;
    align-items: center;
}

@media (max-width: 815px) {
    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 2rem;
    }

    p {
        font-size: 1em;
    }

    .parallax {
        background-attachment: local;
    }

    .btn-primary { // TODO
        font-size: 1em;
    }
}
