---
---
//Font presets

body{
  padding-top: 80px;
}
.mainHeader {
  font-size: 30px;
}

.card{
  border: none;
  border-radius: 0px !important;
  background-color:rgba(0,0,0,0);  
  color:white !important;
}

.content {
  // color:black;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  position: relative;
}

.list-unstyled{
  color:black;
}

@media (max-width: 576px) {
  
}

@media (max-width: 461px) {
  .mainHeader{
    font-size: 30px;
  }
}

@media (max-width: 815px){
  .removeWidget{
    display:none;
  }
}

.image{
  width: 100%;
  height: auto;
}

