---
---
//Font presets
.mainTitle {
    font-size: 40px;
    font-weight: bold;
}
.subTitle {
    font-weight: bold;
}
.header {
    text-align: center;
    font-weight: bold;
    font-size: 50px;
}
.subHeader {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}

.content {
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 540px;
  color:#fff;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  position: relative;
}

//Video and video filters
#video-background {
  position: fixed;
  left: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  top: 0px;
  transform: translate3d(0,0,0);
}
.opacity {
    -webkit-filter: opacity(1.75);
    filter: opacity(1.75);
}
.blur {
    -webkit-filter: blur(3px);
    filter: blur(3px);
}
.brightness {
    -webkit-filter: brightness(.5);
    filter: brightness(.5);
}

//The first div on the page
div .outreach-brief {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  padding-bottom: 5px;
  margin-bottom: 50px;
  text-align: center;
}

//The collection of outreach events
.event-card-collection {
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
}
.event-card {
  margin-bottom: 50px;
  text-align: center;
}
.event-card img{
  border-style: solid;
  border-width: 4px;
  border-color: white;
}
.event-card a {
  //Visible links for the dark background
  color: #8eb9ff;
}

//Image presets for responsiveness
.small-image {
  width: 340px;
  height: 315px;
}
.medium-image {
  margin-top: 10px;
  width: 408.5px;
  height: 306.5px;
}

@media (max-width: 1061px) {
  //The images in TC Stem Night moves to two rows (which is ugly)
  .removable-image {
    display: none;
  }
}

@media (max-width: 940px){ 
  div .outreach-brief {
    //Making the brief more obvious now that the text is multiple lines
    border: solid black;
    box-shadow: 0 12px 80px 0 rgba(255, 255, 255, 0.2), 0 4px 20px 0 rgba(255, 255, 255, 0.2);
    background-color: rgba(255,255,255,0.2);
    margin-bottom: 15%;
  }
}

@media (max-width: 768px) {
  //Padding begins to interfere with readability
  .content {
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
  }
} 

@media (max-width: 700px) {
  //Text starts to offset wierdly
  .header {
    font-size: 190%;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
  p {
    font-size: 90%;
  }
}

@media (max-width: 461px) {
  //Kid is no longer visible, so removing the space so the video is in focus
  .content {
    padding-top: 150px;
  }
  //Images are too large to be centered
  .small-image, .medium-image {
    width: 90%;
    height: auto;
  }
}