---
---
body{
  padding-top:7%;
  padding-bottom: 2%
}

@media(max-width:1030px){
  body{
    padding-top: 20% !important;
  }
}

.featurette-divider{
  border-color:white !important;
}

.featurette-image{
  width: 100% !important; 
}