---
---
html body {
    background-color: #212322;
    color: white;
    padding-top: 70px;
    width: 100%;
}

a {
    -webkit-transition: .3s;
    transition: .3s;
}

//Clearfix, which fixes the issues with the bounding-boxes of images
.clearfix:after {
   content: ""; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}