---
---
@import "shared";

p {
    font-size: 1.25rem;
}

h3 {
    text-align: center;
}

hr.divider {
    border-top: 1px;
}

.row {
    padding: 2% 0;
    text-align: center;
    display: flex;
}

.col {
    width: 33.33333%;
    padding: 0 15px;
}

.team-photo {
    width: 100%;
    margin-top: 25px;
    margin-bottom: 25px;
}

.container {
    padding-bottom: 50px;
}

@media (max-width: 992px) {
    hr.divider {
        display: none;
    }

    .col {
        width: 100%;
    }

    .row {
        display: block;
        padding: 0;
    }
}
