---
---
.content {
  padding-top: 100px;
}

.row{
	margin-bottom: 5%;
	padding-bottom: 5%;
	border-bottom: 1px solid white; 
}

h3{
	text-align: center !important;
}

.jumbotron{
	background-image: url("/photos/Team/team.jpg") !important;
	background-size: 100% auto;
	padding: 150px !important;
	-webkit-filter: brightness(50%) !important; /* Safari 6.0 - 9.0 */
  filter: brightness(50%) !important;
}

