---
---

@import "shared";

body {
    padding-top: 80px;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    color: #ccc;
}

.mainHeader {
    font-size: 2rem;
}

h4 {
    font-size: 1.4rem;
    color: gray;
    margin-top: 0px;
}

.centre {
    text-align: center;
}

.card {
    border: none;
    border-radius: 0px;
    background-color: rgba(0, 0, 0, 0);
    color: white;
}

.content {
    // color:black;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    position: relative;
}

.list-unstyled {
    color: black;
}

.image {
    width: 100%;
    height: auto;
}

.outreach-column {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}

/* Style the tab */
.tab {
  overflow: hidden;
  background-color: rgb(109, 109, 109);
  border: #ccc solid 1px;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  width: 50%;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #aaa;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #999999;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border-top: none;
}

@media (max-width: 815px) {
    .removeWidget {
        display: none;
    }
}

@media (max-width: 575px) {
    .outreach-column {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }
}

@media (max-width: 461px) {
    .mainHeader {
        font-size: 30px;
    }
}